@model RecepcionMedica.Models.Especialidad

@{
    ViewData["Title"] = "Delete";
}

<h1 style="text-align:center; font-family: 'Lobster', cursive; font-size: 32px; font-weight: bold;color: #1A5276;">Esta seguro que desea eliminar la Especialidad?</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEspecialidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEspecialidad)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar Especialidad" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Volver al Indice</a>
    </form>
</div>
