*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.background{
    background-image: url("../../images/fondo.png");
    height:620px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
