@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title> background image</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/background.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
    body {
        background-color: #E0FFFF;
    }
</style>
</head>
<body>
    <div class="background">
        <div class="container">
            <div class="text-center align-bottom">
                <h1 id="grande">Recepción Medica</h1>
                <h1 class="fst-italic">Cuidamos tu salud.</h1>
                <img src="../images/fondo.png" alt="Descripción de la imagen">
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <i class="bi bi-people"></i>
                                <h4>Equipo médico especializado</h4>
                                <p>Contamos con un equipo de profesionales altamente capacitados y especializados en diferentes áreas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <i class="bi bi-calendar-event"></i>
                                <h4>Citas programadas</h4>
                                <p>Ofrecemos la opción de programar tu cita médica en línea para que puedas ahorrar tiempo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <i class="bi bi-wallet2"></i>
                                <h4>Planes de pago accesibles</h4>
                                <p>Ofrecemos planes de pago flexibles y accesibles para que puedas recibir la atención que necesitas.</p>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</body>
