@model RecepcionMedica.Models.Paciente

@{
    ViewData["Title"] = "Create";
}

<h1 style="text-align:center; font-family: 'Lobster', cursive; font-size: 32px; font-weight: bold;color: #1A5276;">Menu de Alta</h1>

<h4>Nuevo Paciente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreCompleto" class="control-label"></label>
                <input asp-for="NombreCompleto" class="form-control" />
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <select asp-for="Sexo" class="form-control">
                    <option value="0">Femenino</option>
                    <option value="1">Masculino</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ObraSocial" class="control-label"></label>
                <input asp-for="ObraSocial" class="form-control" />
                <span asp-validation-for="ObraSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
<<<<<<< HEAD
                <label asp-for="MedicoId" class="control-label"></label>
                <select asp-for="MedicoId" class ="form-control" asp-items="ViewBag.MedicoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
=======
                <label asp-for="Medico" class="control-label"></label>
                <select asp-for="MedicoId" class ="form-control" asp-items="ViewBag.Medico"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Dar de Alta" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary">Volver al Indice</a>
>>>>>>> 5d9bbaa6d9f93df87766794fe5648c83a0e1a581
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
